@import "../../common.scss";
.ratings {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  color: $MediumGrey;
  margin: 16px 0 32px;

  .rating {
    background-color: $DarkBlue;
    padding: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $primary;
      color: $White;
    }
  }
  .selected {
    @extend .rating;
    background-color: $LightGrey;
    color: $White;
  }
}
