@import "../../common.scss";

.layout {
  width: 25%;
  margin: 0 auto;
  padding: 1.875rem;
  background-image: $Grediant;
  border-radius: 30px;
}

@media only screen and (max-width: 992px) {
  .layout {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .layout {
    width: 60%;
  }
}
