$primary: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);
$Grediant: linear-gradient(
  180deg,
  rgba(37, 45, 55, 1) -20%,
  rgba(18, 20, 23, 1) 100%
);

$fontSize: 0.9375rem;
$fontFamily: "Overpass", sans-serif;
$normal: 400;
$bold: 700;
